* {
    margin: 0;
    box-sizing: border-box;
}


body {
    display: flex;
    flex-direction: column; 
    background-color: bisque;
    font-family: Arial, Helvetica, sans-serif;
}

/* Nav Bar */
.header {
    display: flex;
    justify-content: space-between;
    background-color: #1F2937;
    padding: 16px 200px 16px 200px;
}

.logo img {
    width: 50px;
    height: auto;
    display: flex;
    align-items: center;
}

.options {
    display: flex;
    align-items: center;
}
.options ul {
    display: flex;
    gap: 20px;
    list-style-type: none;
}

.options ul a {
    text-decoration: none;
    color: whitesmoke;
}

/* Main Content Part 1 */
.main-body {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1F2937;
    padding: 100px 200px 100px 200px;
}

.right img {
    width: 500px;
    height: auto;
}

.left {
    display: flex;
    flex-direction: column;
    gap: 15px;
    color: whitesmoke;
}

.left h1 {
    font-size:50px;
}

button{
    padding: 10px 25px 10px 25px;
    background-color: #3882F6;
    border-radius: 15px;
    color: white;
    border-color: #3882F6;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 15px;
}


